<div class="columns  is-centered">
    <div class="column is-two-fifths">
        <br>
        <div [formGroup]='formCliente' class="box">
            <div class="columns  is-centered">
            <div class="title is-centered">
                <h1>Registro de cliente</h1>
            </div>
            </div>
    
            <div class="field">
                <label class="label"></label>
                <div class="control">
                    <input class="input" type="email" placeholder="Nombre" formControlName="nombre">
                </div>
            </div>
            <div class="field">
                <label class="label"></label>
                <div class="control">
                    <input class="input" type="email" placeholder="Apellido" formControlName="apellido">
                </div>
            </div>
            <div class="field">
                <label class="label"></label>
                <div class="control">
                    <input class="input" type="email" placeholder="Email" formControlName="email">
                </div>
            </div>
            <div class="field">
                <label class="label"></label>
                <div class="control">
                    <input class="input" type="email" placeholder="Direccion" formControlName="direccion">
                </div>
            </div>
            <div class="field">
                <label class="label"></label>
                <div class="control">
                    <input class="input" type="email" placeholder="Telefono" formControlName="telefono">
                </div>
            </div>
            <br>
            <div class="columns  is-centered">
            <div class="form-control">
                <button class="button is-primary" (click)="save()">Guardar</button>
            </div>
            </div>

        </div>
    </div>
</div>
