<div class="columns  is-centered">
    <div class="column is-two-fifths">
        <br>
        <div [formGroup]='formCliente' class="box">
            <div class="columns  is-centered">
            <div class="title is-centered">
                <h1>Register Customer</h1>
            </div>
            </div>
    
            <div class="field">
                <label class="label"></label>
                <div class="control">
                    <input class="input" type="text" placeholder="Nombre" formControlName="name">
                </div>
            </div>
            <div class="field">
                <label class="label"></label>
                <div class="control">
                    <input class="input" type="text" placeholder="Apellido" formControlName="lastname">
                </div>
            </div>
            <div class="field">
                <label class="label"></label>
                <div class="control">
                    <input class="input" type="text" placeholder="Email" formControlName="email">
                </div>
            </div>
            <div class="field">
                <label class="label"></label>
                <div class="control">
                    <input class="input" type="text" placeholder="Direccion" formControlName="address">
                </div>
            </div>
            <div class="field">
                <label class="label"></label>
                <div class="control">
                    <input class="input" type="text" placeholder="Telefono" formControlName="telephone">
                </div>
            </div>
            <div class="field">
                <label class="label"></label>
                <div class="control">
                    <input class="input" type="password" placeholder="Contraseña" formControlName="password">
                </div>
            </div>
            <br>
            <div class="columns  is-centered">
            <div class="form-control">
                <button class="button is-primary" (click)="save()">Guardar</button>
            </div>
            </div>

        </div>
    </div>
</div>
